h2{
  text-align: center;
}

.results{
  background-color: var(--color-light);
  border: var(--border);
  margin: var(--margin-center);
  padding: 30px;
  max-width: 900px;

  & article{
    border-bottom: var(--border-light);
    padding: 10px 0;

    & img{
      width: var(--thumbnail-width);
      height: var(--thumbnail-height);
      object-fit: cover;
      border: var(--border);
    }
  }
}

@media only screen and (min-width: 700px){
  .results{
    & article{
      display: flex;
      
      & p{
        width: 25%;
      }

      & h3{
        width: 50%;
        padding: 0 var(--padding);
      }

      & img{
        width: 25%;
        height: var(--thumbnail-heightsm);
      }
    }
  }
}