*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

:root{
  --color-dark: #000000;
  --color-dark-100: #adadad;
  --color-light: #ffffff;

  --thumbnail-width: 100%;
  --thumbnail-height: 200px;
  --thumbnail-heightsm: 150px;

  --max-width: 1200px;
  --border: solid var(--color-dark) 1px;
  --border-light: solid var(--color-dark-100) 1px;

  --margin-center: 0 auto;
  --padding: .5rem;
  --line-length: 30em;
  --line-heigth: 1.5;
}

/* #region Basics */
body{
  margin: 1rem 0;

  & a{
    text-decoration: none;
    color: var(--color-dark);
  }

  & a:hover{
    text-decoration: underline;
  }

  & p{
    max-width: var(--line-length);
    line-height: var(--line-heigth);
    padding-bottom: 13px;
  }
}

h1{
  text-align: center;
}
/* #endregion Basics */

/* #region Header */
header{
  & .service-top{
    display: none;
  }

  & h1{
    & img{
      width: 40vw;
      max-width: 250px;
    }
  }

  & span{
    font-size: 0.75rem;
  }

  & .top-bar{
    padding: var(--padding);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & .menu-button{
      display: grid;
      border: 0;
      background: transparent;
      color: var(--color-dark);
    }

    & .search{
      display: grid;
    }
  }

  & nav{
    display: none;

    & .search{
      display: none;
    }

    & .categories,
    .service{
      list-style: none;
    }
  }
}

header.nav-open{
  & nav{
    position: fixed;
    z-index: 20;
    display: grid;
    padding: 20px;
    background-color: var(--color-light);

    & ul{
      margin-bottom: 1rem;
    }
  }
}
/* #endregion Header */

/* #region main */
main{
  max-width: var(--max-width);
  margin: var(--margin-center);
}
/* #endregion Main */

/* #region Footer */
footer{
  margin-left: 3rem;

  & .footer-navigation{
    display: flex;
    flex-flow: row wrap;
    max-width: var(--max-width);
    margin: var(--margin-center);

    & ul{
      list-style: none;
  
      & li{
        padding: 2px 0;
      }
    }
  
    & section{
      margin-top: 2rem;
      width: 100%;
    }
  
    & h4{
      margin: 1rem 0;
    }
  }
}
/* #endregion Footer */

/* #region Mediaqueries */
@media only screen and (min-width: 500px){
  footer{
    & .footer-navigation{
      & section{
        width: 50%;
      }
    }
  }
}

@media only screen and (min-width: 750px){
  header{
    position: relative;
    width: 100vw;
    top: -1rem;

    & .service-top{
      display: flex;
      flex-direction: row;
      justify-content: end;
      background-color: var(--color-dark);
      color: var(--color-light);

      & li{
        width: fit-content;
        padding: 0 var(--padding);
        list-style: none;

        & a{
          color: var(--color-light);
        }
      }
    }

    & .top-bar{
      display: block;

      & .menu-button,
      .search{
        display: none;
      }
    }

    & nav{
      border-top: var(--border);
      border-bottom: var(--border);
      display: block;
      max-width: var(--max-width);
      margin: var(--margin-center);

      & .search{
        display: grid;
      }

      & .categories{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: var(--padding);
      }

      & .service{
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 800px){
  footer{
    & .footer-navigation{
      & section{
        width: 25%;
      }
    }
  }
}
/* #endregion Mediaqueries */