main{
  margin: 2rem;
}

article{
  width: fit-content;
  max-width: 750px;
  margin: var(--margin-center);

  & h1{
    font-size: 2.2rem;
    max-width: var(--line-length);
  }

  & img{
    width: 85vw;
    max-width: 700px;
    max-height: 600px;
    object-fit: cover;
  }

  & .info{
    font-family: var(--font-alt);
    font-size: var(--font-size-small);
  }

  & .categorie{
    font-weight: bold;
    text-transform: uppercase;
    color: var(--accent-color1);
  }

  & .shares{
    display: flex;
    align-items: center;

    & .deel-button{
      display: grid;
      border: 0;
      background: transparent;
      color: var(--accent-color2);
      cursor: pointer;
    }
  
    & .done{
      color: var(--color-dark-100);
    }
  }

  & .notification{
    display: none;
  }

  & .copied{
    display: block;
    color: var(--color-dark-100);
  }

  & .excerpt{
    & p{
      font-family: var(--font-alt);
      font-weight: 300;
      font-size: 1.5rem;
    }
  }

  & .content{
    max-width: 700px;
    margin: var(--margin-center);

    & .read-info{
      margin-bottom: 1rem;
      font-family: var(--font-alt); 

      & p{
        border-bottom: var(--border);
        text-transform: uppercase;
        padding: 0;
      }

      & p:nth-of-type(1){
        border-top: var(--border);
      }
    }

    & h4, p, li{
      font-size: 1.25rem;
      max-width: var(--line-length);
      line-height: var(--line-heigth);
    }

    & figcaption{
      max-width: 700px;
      line-height: var(--line-heigth);
      font-style: italic;
      padding-bottom: var(--padding);
    }

    & img[style]{
      width: 85vw !important;
    }

    & blockquote{
      padding: 20px;

      & cite{
        font-family: var(--font-heading); 
        font-size: 2rem;
        line-height: var(--line-heigth);
        max-width: var(--line-length);
      }
    }

    & blockquote::before{
      content: "‘’";
      display: block;
      color: var(--accent-color1);
      font-size: 100px;
      font-family: var(--font-heading); 
      margin-bottom: -60px;
      margin-left: -6px;
    }

    & ul{
      padding: revert;
    }
  }
}

@media only screen and (min-width: 750px){
  main{
    margin: var(--margin-center);
  }

  article{
    & .content{
      width: fit-content;
    }

    & .info{
      & .deel-button{
        & .btn-label{
          display: none;
        }
      }

      & .deel-button:hover{
        & .btn-label{
          display: block;
        }
      }

    }
  }
}
